html
{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(background.jpg)
  
  
  
}
*{
  margin: 0;
  padding: 0;
  font-family: cursive;
  
}

img{
  margin: 0;
  height: 100vh;
  width: 100%;
  
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(47, 0, 255);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(202, 18, 18);
}

.contact{
  {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(bordo.png)
}
}


